
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Noto+Sans+JP:wght@400;700&display=swap');


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Noto Sans JP, arial, sans-serif;
  background-color: rgb(219, 219, 219);
}

header {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  width:100%;
  max-width: 1200px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: .5rem;
}

input {
  font-size: 1.1rem;
  border-radius: 8px;
  border:0;
  padding:.8rem;
}

input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 189, 177, 0.6);
}

button {
  border:none;
}

.search-list {
  font-size: 1rem;;
  margin:1rem;
  background-color: silver;
  color:white;
  padding:.4rem;
  border-radius: 8px;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

.search-list:hover {
  font-size: 1rem;;
  margin:1rem;
  background-color: rgb(165, 68, 84);
  color:white;
  padding:.5rem;
  border-radius: 8px;
}

.search-history{
  font-weight: 700;
}

.no-result {
  display:flex;
  margin:auto;
}

.clear-btn {
  font-size: 1rem;
  padding:.4rem;
  border-radius: 8px;
  background-color: rgb(165, 68, 84);
  color:white;
  margin-left:1rem;
  outline:none;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

.clear-btn:hover {
  font-size: 1rem;
  padding:.5rem;
  border-radius: 8px;
  background-color: rgb(207, 156, 165);
  color:rgb(80, 80, 80);
  margin-left:1rem;
  outline:none;
  cursor: pointer;
}

.hr {
  width:100%;
  height:2px;
  background-color: black;
}

.app {
  width:100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width:100%;
  max-width: 1200px;
  margin:2rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.description {
  width:100%;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.list-title {
  font-weight: 700;
  display: inline-block;
  width:100vw;

}

.card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  margin-top:.5rem;
  margin-bottom:.5rem;
  padding:.5rem;

}

.game-title {
  text-align: center;
}

.game-img {
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 10px white;
}

@media (max-width:992px) {

  header {
    width:100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  input {
    font-size: 1rem;
    border-radius: 8px;
    border:0;
    padding:.4rem;
    margin-bottom: 1rem;
  }

  .wrapper {
    width:90%;
  
    max-width: 600px;
    margin:2rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:40%;

    margin: .5rem;
    margin-top:.5rem;
    margin-bottom:.5rem;
    padding:.5rem;
  
  }

  .game-img{
    width: 100%;
  }
}
